<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" name="ConsoleCustomerList">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="Queries" fileName="logs/queries.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="INPUT_QUERIES"/>
        </File>
        <File name="Errors" fileName="logs/errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <MarkerFilter marker="IS_ERRORS"/>
        </File>
    </appenders>
    <loggers>
        <root level="info">
            <!--appender-ref ref="Console"/-->
            <appender-ref ref="Queries"/>
            <appender-ref ref="Errors"/>
        </root>
    </loggers>
</configuration>